* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    background-color: #E1E1E1;
    margin-left: 200px;
    margin-right: 200px;
    border: solid #c4c4c4 0.2px;
    justify-content: center;
}

.retangulo1 {
    padding: 5px;
    background-color: #646464;
}

.retangulo2 {
    padding: 5px;
    background-color: #9F9F9F;
}

.navega {
    padding: 10px;
    padding-right: 100px;
    background-color: #F3F3F3;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.navega a {
    color: #7A7A7A;
    transition: 0.5s;
}

.navega a:hover {
    color: #202020;
}

.tituloPrincipal {
    padding: 50px;
}

.noticia {
    margin: 10px 50px 30px 50px;
    border-bottom: solid #C4C4C4 0.2px;
}

.spans {
    margin-top: 10px;
    margin-bottom: 10px;
}

.spanData {
    padding-right: 40px;
    border-right: solid #B6B6B6 1px;
}

.spanAutor {
    padding-left: 40px;
}

.noticia p {
    margin-top: 10px;
    line-height: 1.5;
}

footer {
    position: relative;
    text-align: center;
    width: 100%;
    line-height: 2;
    padding: 10px;
    background-color: #CACACA;
}